:host {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}

button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #7b38d8;
  border: 1px solid;
  border-radius: 3px;
  color: #eeeeee;
  text-align: center;
  outline: none;
  padding: 0.5em 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.5em;
  span {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
  }
  span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
}

button:hover {
  background-color: #39063b;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
