:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}
